@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 33% 95%; /* #f0f4f7 */
    --foreground: 210 10% 23%; /* #353b41 */

    --card: 206 33% 100%; /* #ffffff */
    --card-foreground: 210 10% 23%;

    --popover: 206 33% 100%;
    --popover-foreground: 210 10% 23%;

    --primary: 196 49% 60%; /* #64b5cd */
    --primary-foreground: 210 40% 98%; /* #f8f9fa */

    --secondary: 206 33% 90%; /* #dde5eb */
    --secondary-foreground: 210 10% 23%;

    --muted: 206 33% 90%;
    --muted-foreground: 210 8% 45%; /* #6c757d */

    --accent: 36 100% 65%; /* #ffb74d */
    --accent-foreground: 24 10% 20%; /* #3c352d */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 206 33% 88%; /* #d5dde3 */
    --input: 206 33% 92%; /* #e6ebee */
    --ring: 196 49% 60%;

    --radius: 0.5rem;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 210 40% 98%;

    --card: 210 10% 20%;
    --card-foreground: 210 40% 98%;

    --popover: 210 10% 20%;
    --popover-foreground: 210 40% 98%;

    --primary: 196 49% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 10% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 10% 25%;
    --muted-foreground: 210 8% 65%;

    --accent: 36 100% 65%;
    --accent-foreground: 24 10% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 30%;
    --input: 210 10% 25%;
    --ring: 196 49% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
